<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragment :: head(~{::title})">
<!--    <meta charset="UTF-8"/>-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->

<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    <title>管理员登录</title>
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"-->
<!--    />-->
<!--    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"/>-->
<!--    <link rel="stylesheet" href="../../static/css/me.css"/>-->
</head>
<!--<body style="background-image:url('../../static/images/flowers.png');background-size: 1500px,1500px;background-position: center ;background-repeat: no-repeat; opacity: 0.8;">-->
<body class="login-bg">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui green image header">
                    <!--          <img src="assets/images/logo.png" class="image">-->
                    <div class="content">
                        Welcome to X.FreeNotes
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Username or Email">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <button class="ui fluid large green submit button">Login</button>
                    </div>
                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        用户名或密码错误
                    </div>
                </form>

                <!--        <div class="ui message">-->
                <!--          New to us? <a href="#">Sign Up</a>-->
                <!--        </div>-->
            </div>
        </div>
    </div>
</div>

<!--/*/<th:block th:replace="admin/_fragment :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });
</script>

</body>
</html>
