<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragment :: head(~{::title})">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>标签管理</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"/>
    <link rel="stylesheet" href="../../static/css/me.css"/>
</head>
<body>
<!-- 导航 -->
<nav th:replace="admin/_fragment::menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui green header item">X.FreeNotes Admin</h2>
            <a href="#" class="active item m-mobile-hide"
            ><i class="home icon"></i>博客</a
            >
            <a href="#" class="m-item item m-mobile-hide"
            ><i class="idea icon"></i>分类</a
            >
            <a href="#" class="m-item item m-mobile-hide"
            ><i class="tags icon"></i>标签</a
            >
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../static/images/m1ynbyt4ijx81.png"/>
                        yaxing_guo
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a
            href="#"
            class="ui menu toggle black icon button m-right-top m-mobile-show"
    >
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 二级导航 -->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="active green item">列表</a>
        </div>

    </div>

</div>
<!-- 中间 -->
<div class="m-container m-padded-tb-big content">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(msg)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${msg}">恭喜，操作成功！</p>
        </div>

        <table class="ui center aligned celled table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat:${pageInfo.list}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${tag.name}">分布式锁</td>

                <td>
                    <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini green button">编辑</a>
                    <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <!--                <div class="ui mini floated pagination menu">-->
                    <!--                    <a th:href="@{/admin/types(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" class="item">上一页</a>-->
                    <!--                    <a th:href="@{/admin/types(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" class="item">下一页</a>-->
                    <!--                </div>-->
                    <div class="ui mini floated pagination menu">
                        <div class="item"><a th:href="@{/admin/tags}">首页</a></div>
                        <div class="item"><a
                                th:href="@{/admin/tags(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                        </div>
                        <div class="item"><a
                                th:href="@{/admin/tags(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                        </div>
                        <div class="item"><a th:href="@{/admin/tags(pagenum=${pageInfo.pages})}">尾页</a></div>
                    </div>
                    <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated right green button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br/>
<br/>
<!-- 底部 -->
<footer th:replace="admin/_fragment::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img
                        src="../static/images/m1ynbyt4ijx81.png"
                        class="ui rounded"
                        alt=""
                        style="width: 90px"
                />
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-spaced">用户故事</a>
                    <a href="#" class="item m-text-spaced">用户故事</a>
                    <a href="#" class="item m-text-spaced">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-spaced"
                    >Email:yaxing_guo@outlook.com</a
                    >
                    <a href="#" class="item m-text-spaced">QQ:365328807</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-opacity-mini">X.FreeNotes</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客，会分享编程、写作、思考相关的内容~
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">
            Designed by Yaxing Guo in Nanjing
        </p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('.ui.dropdown').dropdown(
        {
            on: 'hover'
        }
    );
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>
</html>
